<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CymaticScanApp</title>
</head>
<body>
<h1>質問画面</h1>
次の質問に答えてください

<HR>

<form action="{% url 'general:result' %}" method="post">
    {% for question in latest_question_list %}
    {% csrf_token %}

    <p>title = {{ question.title }}</p>
    <p>text = {{ question.question_text }}</p>

        {% for answer in question.answer_set.all %}
            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}"/>
            <label for="answer{{ forloop.counter }}">
                {{ answer.answer_text }}
            </label>
            <br>
        {% endfor %}
        <HR>
    {% endfor %}

    <input type="submit" value="送信"/>
</form>

</body>
</html>